.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: rgba($color-black, 0.5);

    &__content {
        background-color: $color-white;
        box-shadow: 0 0 1px rgba($color-black, 0.3), 0 4px 8px rgba($color-black, 0.25);
        border-radius: 3px;
        overflow: hidden;
        height: 600px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 1px;
            height: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(90, 90, 90, 0);
        }

        &::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, 0.2);
        }

        .close {
            height: 26px;
            width: 26px;
            padding: 3px;
            border: 2px solid black;
            border-radius: 100%;
            position: absolute;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            right: 3%;
            top: 2%;
            cursor: pointer;
        }
    }
}
