.sidebar {
    position: absolute;
    top: 2.4rem;
    left: 2.4rem;
    display: flex;
    flex-direction: column;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 6.4rem;
        height: 6.4rem;
        border: 0.4rem solid $color-gradient-green;
        border-radius: 12.8rem;
        font-size: 4rem;
        font-weight: bold;
        color: $color-green-dark;
        cursor: pointer;
        transition: all .2s;
        background-color: $color-white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: Open-Sans-Regular;

        &:hover {
            background-color: darken($color-green-dark, 0.5);
            color: $color-green;
        }

        &:not(last-of-type) {
            margin-bottom: 1.6rem;
        }
    }

    .add {
        color: $color-white;
        background-color: $color-pink;
        border: 4px solid $color-02;
    }
}
