.home {
    min-height: 100vh;
    background-color: $color-green-light;

    &-content {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .btn {
            width: 124px;
            height: 56px;
            font-size: 18px;
            line-height: 24px;
            border-color: transparent;
            color: $color-white;
            border-radius: 42px;
            font-weight: bolder;
            background-color: $color-red;
            margin-top: 31px;
            cursor: pointer;
        }
    }
}
