.map {
    position: relative;
    min-height: 100vh;
    background: url("../../images/pageBackground.png") center;
    background-size: cover;
}

.content-avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &-box {
        position: relative;
        height: 68px;
        width: 68px;
    }

    img {
        display: block;
    }

    .icon-find {
        position: absolute;
        top: -64px;
    }

    // .ash-avatar:hover ~ .icon-find {
    //     display: block;
    // }
}
