.ash-content-animation {
    height: 68px;
    width: 68px;

    .ashRightLeg, .ashLeftLeg {
        position: absolute;
        transition: all 400ms ease-in-out;
    }

    .ashRightLeg {
        animation: ashR 1s infinite;
        z-index: 0;
    }

    .ashLeftLeg {
        z-index: 1;
        animation: ashL 1s infinite;
    }

    // Left
    @keyframes ashL {
        from {
            z-index: 1;
            opacity: 1;
        }

        to {
            z-index: 0;
            opacity: 0;
        }
    }

    // Right
    @keyframes ashR {
        from {
            z-index: 0;
            opacity: 0;
        }

        to {
            z-index: 1;
            opacity: 1;
        }
    }
}
