.block {
    padding-bottom: 35px;

    &-content-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 35px;

        .block-title {
            margin: 0 10px;
            font-size: 15px;
            line-height: 24px;
            font-family: Open-Sans-regular;
            color: #2E3A59;
        }

        hr {
            width: 100%;
            height: 0.2px;
            display: block;
            border: 0.6px solid $color-gray;
        }
    }

    &-content {}
}
