.avatar-container {
    .avatar-content {
        width: 337px;
        display: flex;
        flex-direction: column;
        position: relative;
        background: linear-gradient(90deg, #43E97B 0%, #38F9D7 100%);

        .pokeball {
            display: block;
            margin: 0 auto;
            cursor: pointer;
        }

        &-top {
            height: 150px;
            position: relative;

            .img-avatar {
                display: block;
                width: 160px;
                height: 160px;
                background-color: white;
                position: absolute;
                border-radius: 100%;
                left: 50%;
                top: 50%;
                transform: translateX(-50%);
                border: 4px solid $color-gradient-green;
            }
        }

        &-bottom {
            padding: 0 16px;
            border-top-left-radius: 24px;
            border-top-right-radius: 24px;
            background-color: $color-white-2;

            .btn-l {
                display: block;
                width: 221px;
                height: 56px;
                padding: 16px;
                margin: 30px auto 30px auto;
                border-radius: 42px;
                border-color: transparent;
                background-color: $color-pink;
                color: white;
                font-size: 18px;
                line-height: 24px;
                font-weight: bold;
                font-family: Open-Sans-Regular;
            }

            .content-name {
                display: flex;
                margin-top: 100px;
                align-items: center;
                justify-content: center;

                .title {
                    font-size: 18px;
                    line-height: 24px;
                    font-weight: bold;
                    margin-right: 10px;
                    font-family: Open-Sans-Bold;
                }

                .icon-edit {
                    width: 16px;
                    height: 15.98px;
                }
            }

            .content-form {
                display: flex;
                margin-top: 24px;
                justify-content: space-between;

                .content-btn {
                    display: flex;

                    .btn-action {
                        width: 48px;
                        height: 48px;
                        border-radius: 4px;
                        border: 1px solid $color-gray;

                        &:first-child {
                            margin-right: 3px;
                        }
                    }
                }
            }

            .details-content {
                margin: 24px 0;

                .detail-list {
                    display: flex;
                    justify-content: space-between;
                    list-style: none;
                }

                .detail-item {
                    border-right: 1px solid $color-gray;
                    padding: 0 28px;

                    h6 {
                        font-weight: bold;
                        font-size: 12px;
                        line-height: 16px;
                        text-align: center;
                        margin-bottom: 8px;
                        font-family: Open-Sans-Bold;
                    }

                    span {
                        display: block;
                        text-align: center;
                        font-size: 18px;
                        line-height: 24px;
                        font-family: Open-Sans-Regular;
                    }

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        border-right-width: 0;
                    }
                }
            }

            .content-type {
                &-button {
                    display: flex;
                    justify-content: center;
                }

                .btn-type {
                    width: 99px;
                    height: 32px;
                    border-radius: 42px;
                    padding: 8px 16px;
                    margin-right: 5px;
                    border-color: transparent;
                    color: $color-white;
                    font-weight: bold;

                    &-f {
                        background-color: $color-light-green;
                        margin-right: 11px;
                    }

                    &-s {
                        background-color: $color-purple;
                    }
                }
            }

            .content-habilities {
                .habilities {
                    p {
                        text-align: center;
                    }

                    span {
                        font-size: 12px;
                        font-family: Open-Sans-Bold;
                        color: $color-dark-blue;
                        margin-bottom: 10px;
                    }
                }
            }

            .content-statistics {
                .statistics-list {
                    li {
                        margin-bottom: 18px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        div {
                            display: flex;
                            align-items: center;

                            img {
                                margin-right: 11px;
                            }

                            span {
                                font-size: 12px;
                                line-height: 16px;
                                font-weight: bold;
                                font-family: Open-Sans-Bold;
                            }
                        }

                        span {
                            font-size: 15px;
                            line-height: 24px;
                            font-weight: bold;
                            font-family: Open-Sans-Regular;
                        }
                    }
                }
            }
        }
    }
}
