.input-form-content {
    width: 100%;
    margin-bottom: 24px;

    .input-form {
        width: 100%;
        height: 48px;
        padding: 12px 18px;
        border: 1px solid $color-gray;
        box-shadow: 2px 1px 2px #8F9EB3;
        border-radius: 4px;

        font-size: 15px;
        line-height: 24px;
    }

    
}

label {
    display: block;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    color: $color-dark-blue;
    font-family: Open-Sans-Bold;
    margin-bottom: 6px;
}


.input-number-content {
    .custom-label {
        display: flex;
        align-items: center;

        img {
            margin-right: 11px;
        }
    }
}
.input-number {
    display: flex;
    height: 48px;
    margin-bottom: 24px;
    border: 1px solid #8F9BB3;

    input {
        width: 78%;
        padding: 12px 18px;
        border-color: transparent;
    }

    span {
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        line-height: 24px;
        font-weight: 600;
        font-family: Open-Sans-Bold;
        background-color: $color-white;
    }

    div {
        width: 7%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        button {
            flex: 1;
            width: 100%;
            border-color: transparent;
            cursor: pointer;
            background-color: $color-white-3;
        }
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    input[type=number] {
    -moz-appearance: textfield;
    }
}

