.select-container {
    display: flex;
    height: 48px;
    margin-bottom: 24px;
    border: 1px solid #8F9BB3;
    border-radius: 4px;

    
    .custom-select select {
        display: none;
    }
    
    .custom-select {
        width: 100%;
        position: relative;
    }
    
    .custom-select .arrow-down-icon {
        position: absolute;
        right: 4%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        color: white;
        font-size: 22px;
    }
    
    .select-selected {
        height: 48px;
        border: 1px solid #eaeaeb;
        color: #999;
        font-size: 13px;
        font-weight: 300;
        border-radius: 3px;
        display: flex;
        align-items: center;
        padding-left: 12px;
        width: 100%;
        font-size: 15px;
        line-height: 24px;
        font-family: Open-Sans-Regular;
    }
    
    
    /* Style the arrow inside the select element: */
    
    .select-selected:before {
        position: absolute;
        content: "";
        top: 2px;
        border-color: gray transparent transparent transparent;
    }
    
    
    /* Point the arrow upwards when the select box is open (active): */
    
    .select-selected.select-arrow-active:before {
        position: absolute;
        content: "";
        border-color: transparent transparent gray transparent;
        top: 2px;
    }
    
    
    /* style the items (options), including the selected item: */
    
    .select-items div {
        color: #999;
        padding: 8px 16px;
      cursor: pointer;
        font-size: 15px;
        line-height: 24px;
        font-family: Open-Sans-Regular;
    }
    
    
    /* Style items (options): */
    
    .select-items {
        position: absolute;
        /* background-color: #eaeaeb; */
        color: #272727;
        top: 108%;
        left: 0;
        right: 0;
        z-index: 99;
        border-radius: 6px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border: 1px solid #ebedf2;
        background-color: white;
        font-size: 13px;
        font-weight: 300;
    }
    
    .select-items div:before {
        content: "";
        display: inline-block;
        position: relative;
        height: 10px;
        width: 10px;
        border: 2px solid #e9e9e9;
        border-radius: 4px;
        background-color: #fff;
        margin-right: 20px;
        vertical-align: middle;
    }
    
    
    /* Hide the items when the select box is closed: */
    
    .select-hide {
        display: none;
    }
    
    .select-items div:hover,
    .same-as-selected {
        background-color: rgba(0, 0, 0, 0.1);
    }
}